:root {
  --color-accent: oklch(0.69 0.1924 293.16);
}

html {
  accent-color: var(--color-accent);
}

body {
    font: 100%/1.5 system-ui;
    color: oklch(80% 3% 200);
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);
    background-color: oklch(0.42 0.0083 269);

    h1 {
      font-size: 4em;
      line-height: 1.1;
      text-wrap: balance;
      color: var(--color-accent);
    }
    
    h2 {
      margin: 0;
      line-height: 1.1;
      text-wrap: balance;
    }

    h3 {
      line-height: 1.1;
      text-wrap: balance;
    }

    h4 {
      line-height: 1.1;
      text-wrap: balance;
    }

    h5 {
      line-height: 1.1;
      text-wrap: balance;
    }

    h6 {
      line-height: 1.1;
      text-wrap: balance;
    }
  }

  nav {
    display: flex;
    margin-bottom: 2em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: oklch(80% 3% 200);

    ul {
      display: contents;
    }
  
    li {
      display: contents;
    }

    a {
      flex: 1;
      text-decoration: none;
      text-align: center;
      padding: 0.5em;
      color: inherit;
    }

    a:hover {
      border-bottom-width: 0.4em;
      border-bottom-style: solid;
      border-bottom-color: var(--color-accent);
      padding-bottom: 0.3em;
      color:var(--color-accent);
    }

    a.current {
      border-bottom-width: 0.4em;
      border-bottom-style: solid;
      border-bottom-color: oklch(80% 3% 200);
      padding-bottom: 0.3em;
    }
  }

  .img {
    max-width: 100%;
    height: auto;
  }

  .projects {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;

    article {
      display: grid;
      grid-template-rows: subgrid;
      grid-row: span 3;
    }
  }

  .resume {
    a {
      color: oklch(80% 3% 200);
    }

    a.download {
      color: var(--color-accent);
    }

    .header {
      position: sticky;
      top: 0;
      z-index: 100;
      background-color: oklch(0.42 0.0083 269);
      text-align: center;
      padding: 10px 0;
      width: 100%;
  
    }

    .section-title {
      font-size: 20px;
    }

    .section-title:hover {
      color: var(--color-accent);
      transform: scale(1.02);
      transition: all 0.2s ease-in-out;
    }

  }

  .contact {

    input,
    textarea,
    button {
      font: inherit;
      background-color: oklch(80% 3% 200);
    }

    form {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1 / -1;
      gap: 1em;
    }
  }