:root {
  --color-accent: oklch(0.69 0.1924 293.16);
  --border-color: oklch(50% 10% 200 / 40%);
}

html {
  accent-color: var(--color-accent);
}

body {
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);

    h1 {
      font-size: 4em;
      line-height: 1.1;
      text-wrap: balance;
    }
    
    h2 {
      margin: 0;
      line-height: 1.1;
      text-wrap: balance;
    }

    h3 {
      line-height: 1.1;
      text-wrap: balance;
    }

    h4 {
      line-height: 1.1;
      text-wrap: balance;
    }

    h5 {
      line-height: 1.1;
      text-wrap: balance;
    }

    h6 {
      line-height: 1.1;
      text-wrap: balance;
    }
  }

  nav {
    display: flex;
    margin-bottom: 2em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--border-color);

    ul {
      display: contents;
    }
  
    li {
      display: contents;
    }

    a {
      flex: 1;
      text-decoration: none;
      text-align: center;
      padding: 0.5em;
      color: inherit;
    }

    a:hover {
      border-bottom-width: 0.4em;
      border-bottom-style: solid;
      border-bottom-color: var(--color-accent);
      padding-bottom: 0.3em;
      color:var(--color-accent);
      background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
    }

    a.current {
      border-bottom-width: 0.4em;
      border-bottom-style: solid;
      border-bottom-color: var(--border-color);
      padding-bottom: 0.3em;
    }
  }

  .img {
    max-width: 100%;
    height: auto;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
    align-items: stretch;

    article {
      display: grid;
      grid-template-rows: subgrid;
      grid-row: span 3;
      border: 1px solid #ccc;
      border-radius: 12px;
      padding: 16px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      margin-top: 20px;
    }

    img {
      max-width: 100%;
      height: 150px;
      display: block;
      border-radius: 8px;
      object-fit: cover;
    }

    .project-header {
      margin-bottom: 12px;
    }

    .project-content {
      flex-grow: 1;
      margin-top: 12px;
    }
    
    .project-footer {
      margin-top: 12px;
      display: flex;
      justify-content: flex-end;
    }
  }

  .resume {
    a {
      color: var(--color-accent);
    }

    a.download {
      color: var(--color-accent);
      display: block;
      text-align: center;
    }

    .header {
      position: sticky;
      top: 0;
      z-index: 100;
      background-color: Canvas;
      text-align: center;
      padding: 10px 0;
      width: 100%;
  
    }

    .section-title {
      font-size: 20px;
    }

    .section-title:hover {
      color: var(--color-accent);
      transform: scale(1.02);
      transition: all 0.2s ease-in-out;
    }

  }

  .contact {

    input,
    textarea,
    button {
      font: inherit;
      background-color: var(--border-color);
    }

    form {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1 / -1;
      gap: 1em;
    }
  }

  label.color-scheme {
    position: absolute;
    top: 4rem;
    right: 2rem;
    font-size: 80%;
    font-family: inherit;
  }
  #profile-stats {
    border: 2px solid #ddd;
    border-radius: 12px;
    padding: 1rem;
    max-width: 100%;
    width: 90%;
    margin: 2rem auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
  }
  
  #profile-stats dl {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
  }
  
  #profile-stats dt {
    grid-row: 1;
    color: var(--color-accent);
  }
  
  #profile-stats dd {
    font-size: 2rem;
    font-weight: bold;
    grid-row: 2;
    margin: 0;
  }

  #projects-pie-plot {
    max-width: 20em;
    margin-block: 2em;
    overflow: visible;
  }

  .legend {
    list-style: none;
    padding: 1em;
    margin: 1em 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
    gap: 1em;
    font-family: system-ui, sans-serif;
    border: 2px solid #ccc;
    border-radius: 8px;
    flex: 1;
  }
  
  .legend li em {
    font-style: normal;
    color: #666;
    font-size: 0.9em;
  }
  .legend .swatch {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    border-radius: 50%;
    background-color: var(--color);
    vertical-align: middle;
  }

  .legend .legend-item {
    display: flex;
    align-items: center;
    gap: 0.2em;
  }

  .container {
    display: flex;
    align-items: center;
    gap: 5em;
  }

  .year-badge {
    display: inline-block;
    background-color: var(--border-color);
    font-size: 0.8rem;
    font-weight: 600;
    padding: 2px 8px;
    border-radius: 6px;
  }

  .searchBar {
    width: 100%;
    height: 48px;
    font-size: 18px;
    padding: 0 12px;  
    box-sizing: border-box;
  }